<?xml version="1.0" encoding="utf-8"?>

<unity >
  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="bool" type="System.Boolean" />
    <typeAlias alias="string" type="System.String" />
    <typeAlias alias="object" type="System.Object" />
    <typeAlias alias="int" type="System.Int32" />
    <typeAlias alias="type" type="System.Type" />
    <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="typeName" type="System.Configuration.TypeNameConverter, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <typeAlias alias="viewModel" type="Experion.Client.Common.Base.ViewModel, Experion.Common.Client" />

  </typeAliases>
  <containers>
    <container name="parent">
      <!--<instance type="string" name="ExperionEntities" value="metadata=res://*/Model.TTSModel.csdl|res://*/Model.TTSModel.ssdl|res://*/Model.TTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.6\SQL2K8,2433;initial catalog=experion;user id=empuser;password=emp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"/>-->
      <instance type="string" name="ExperionEntities" value="metadata=res://*/Model.TTSModel.csdl|res://*/Model.TTSModel.ssdl|res://*/Model.TTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=experion;user id=empuser;password=emp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"/>

      <instance type="string" name="ADServer" value="msdevserver.cloudapp.net"/>
      <instance type="string" name="AdminGroup" value="TTSAdmin"/>
      <instance type="string" name="ADServerGroup" value="TTSExclusive"/>



      <types>

        <!--Repository Start-->

        <type type="EFC.Components.Data.IRepositoryContext, EFC.Components"
              mapTo="Experion.TTS.Service.Data.TtsRepositoryContext, Experion.TTS.Service">
          <lifetime type="singleton" />
        </type>

        <!--Repository End-->

        <!--Controller Start-->


        <!--Controller End-->

        <!--Services Start-->

        <register type="Experion.TTS.Service.ADService, Experion.TTS.Service" mapTo="Experion.TTS.Service.ADService, Experion.TTS.Service">
        </register>

        <register type="Experion.TTS.Service.ProjectService, Experion.TTS.Service" mapTo="Experion.TTS.Service.ProjectService, Experion.TTS.Service">
        </register>

        <register type="Experion.TTS.Service.AuthenticationService, Experion.TTS.Service" mapTo="Experion.TTS.Service.AuthenticationService, Experion.TTS.Service">
        </register>

        <register type="Experion.TTS.Service.TimeSheetService, Experion.TTS.Service" mapTo="Experion.TTS.Service.TimeSheetService, Experion.TTS.Service">
        </register>

        <register type="Experion.TTS.Service.Application.RepositoryService, Experion.TTS.Service" mapTo="Experion.TTS.Service.Application.RepositoryService, Experion.TTS.Service">
          <lifetime type="singleton" />
        </register>


        <!--Services End-->

        <!--Application Services Start-->
        
        
        <register type="Experion.TTS.Service.Application.ASUserService, Experion.TTS.Service" mapTo="Experion.TTS.Service.Application.ASUserService, Experion.TTS.Service"/>

        <register type="Experion.TTS.Service.Application.ASProjectService, Experion.TTS.Service" mapTo="Experion.TTS.Service.Application.ASProjectService, Experion.TTS.Service"/>

        <register type="Experion.TTS.Service.Application.ASAuthenticationService, Experion.TTS.Service" mapTo="Experion.TTS.Service.Application.ASAuthenticationService, Experion.TTS.Service">
        </register>

        <register type="Experion.TTS.Service.Application.ASTimeSheetService, Experion.TTS.Service" mapTo="Experion.TTS.Service.Application.ASTimeSheetService, Experion.TTS.Service">
        </register>

        <register type="Experion.TTS.Service.Application.ASAcvivityService, Experion.TTS.Service" mapTo="Experion.TTS.Service.Application.ASAcvivityService, Experion.TTS.Service">
        </register>

        <register type="Experion.TTS.Service.Application.ASProjectMember, Experion.TTS.Service" />


        <!--Application Services End-->

        <!--ViewModel Start-->


        <register type="Experion.TTS.Client.ViewModels.MainViewModel, Experion.TTS.Client" mapTo="Experion.TTS.Client.ViewModels.MainViewModel, Experion.TTS.Client">
        </register>

        <!--<register type="Experion.TTS.Client.ViewModels.LoginViewModel, Experion.TTS.Client" mapTo="Experion.TTS.Client.ViewModels.LoginViewModel, Experion.TTS.Client">
        </register>-->

        <register name="LoginView" type="object" mapTo="Experion.TTS.Client.Views.LoginView, Experion.TTS.Client"/>
        <register type="Experion.TTS.Client.ViewModels.LoginViewModel, Experion.TTS.Client" mapTo="Experion.TTS.Client.ViewModels.LoginViewModel, Experion.TTS.Client">
          <property name="View">
            <dependency name="LoginView" />
          </property>
          <lifetime type="singleton" />
        </register>

        <register name="TimeSheetView" type="object" mapTo="Experion.TTS.Client.Views.TimeSheetView, Experion.TTS.Client"/>
        <register type="Experion.TTS.Client.ViewModels.TimeSheetViewModel, Experion.TTS.Client" mapTo="Experion.TTS.Client.ViewModels.TimeSheetViewModel, Experion.TTS.Client">
          <property name="View">
            <dependency name="TimeSheetView" />
          </property>
          <lifetime type="singleton" />
        </register>

        <register name="ProjectView" type="object" mapTo="Experion.TTS.Client.Views.ProjectView, Experion.TTS.Client"/>
        <register type="Experion.TTS.Client.ViewModels.ProjectViewModel, Experion.TTS.Client" mapTo="Experion.TTS.Client.ViewModels.ProjectViewModel, Experion.TTS.Client">
          <property name="View">
            <dependency name="ProjectView" />
          </property>
          <lifetime type="singleton" />
        </register>
        
        <register name="UsersView" type="object" mapTo="Experion.TTS.Client.Views.UsersView, Experion.TTS.Client"/>
        <register type="Experion.TTS.Client.ViewModels.UserViewModel, Experion.TTS.Client" mapTo="Experion.TTS.Client.ViewModels.UserViewModel, Experion.TTS.Client">
          <property name="View">
            <dependency name="UsersView" />
          </property>
          <lifetime type="singleton" />
        </register>


        <!--<register type="MvvmLightSample.Model.CustomerModel, MvvmLightSample" mapTo="MvvmLightSample.Model.CustomerModel, MvvmLightSample"/>
        <register name="CustomerView" type="object" mapTo="MvvmLightSample.CustomerView, MvvmLightSample"/>
        
        <register name="CustomerViewModel" type="Experion.Client.Common.Base.ViewModel, Experion.Common.Client" mapTo="MvvmLightSample.ViewModels.CustomerViewModel, MvvmLightSample">
          <property name="View">
            <dependency name="CustomerView" />
          </property>
        </register>-->

        <!--ViewModel End-->



      </types>
    </container>
  </containers>
</unity>