<?xml version="1.0" encoding="utf-8" ?>

<loggingConfiguration name="experionlogging" tracingEnabled="true" defaultCategory="General">
  <listeners>
    
    <add name="logDefault" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="Experion\FieldMax\trace.log" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, Callstack" />
    
    <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="D:\Experion\FieldMax\activity.log" formatter="Text Formatter" rollInterval="Week"
      rollSizeKB="20480" maxArchivedFiles="20" traceOutputOptions="DateTime, Timestamp, Callstack" />
  </listeners>
  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="Timestamp: {timestamp}{newline}&#xA;&#xA;Message: {message}{newline}&#xA;&#xA;Category: {category}{newline}&#xA;&#xA;Priority: {priority}{newline}&#xA;&#xA;EventId: {eventid}{newline}&#xA;&#xA;Severity: {severity}{newline}&#xA;&#xA;Title:{title}{newline}&#xA;&#xA;Machine: {localMachine}{newline}&#xA;&#xA;App Domain: {localAppDomain}{newline}&#xA;&#xA;Process Name: {localProcessName}{newline}&#xA;&#xA;Thread Name: {threadName}{newline}&#xA;&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
      name="Text Formatter" />
  </formatters>
  <categorySources>
    <add switchValue="ActivityTracing" name="General">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </allEvents>
    <notProcessed switchValue="All" name="Unprocessed Category">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </notProcessed>
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>