<?xml version="1.0" encoding="utf-8"?>

<exceptionHandling>
  <exceptionPolicies>
    <add name="ApplicationPolicy">
      <exceptionTypes>
        <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          postHandlingAction="NotifyRethrow" />
      </exceptionTypes>
    </add>
  </exceptionPolicies>
</exceptionHandling>