<?xml version="1.0" encoding="utf-8"?>

<unity >
  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="bool" type="System.Boolean" />
    <typeAlias alias="string" type="System.String" />
    <typeAlias alias="object" type="System.Object" />
    <typeAlias alias="int" type="System.Int32" />
    <typeAlias alias="type" type="System.Type" />
    <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="typeName" type="System.Configuration.TypeNameConverter, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </typeAliases>
  <containers>
    <container name="parent">
      <types>

        <!--Repository Start-->

      
        <!--Repository End-->

        <!--Services Start-->

        <type type="Experion.Common.Tools.ConnectionChecker.Service.IDatabaseService, Experion.Common.Tools"
              mapTo="Experion.Common.Tools.ConnectionChecker.Service.DatabaseService, Experion.Common.Tools" >
          <lifetime type="singleton" />
        </type>
        
        <!--Services End-->

        <!--Application Services Start-->

         <!--Application Services End-->
        
        <!--ViewModel Start-->
        
        <type type="Experion.Common.Tools.ConnectionChecker.ConnectionCheckerViewModel.ConnectionCheckerViewModel, Experion.Common.Tools" mapTo="Experion.Common.Tools.ConnectionChecker.ConnectionCheckerViewModel.ConnectionCheckerViewModel, Experion.Common.Tools" />

        <!--ViewModel End-->
        
        <!--Model Start-->
        <type type="Experion.Common.Tools.ConnectionChecker.ConnectionCheckerViewModel.ConnectionModel, Experion.Common.Tools" mapTo="Experion.Common.Tools.ConnectionChecker.ConnectionCheckerViewModel.ConnectionModel, Experion.Common.Tools" />

        <!--Model End-->
        
        <!--View Start-->
        <type type="Experion.Common.Tools.ConnectionChecker.ConnectionCheckerViewModel.ConnectionCheckerView, Experion.Common.Tools" mapTo="Experion.Common.Tools.ConnectionChecker.ConnectionCheckerViewModel.ConnectionCheckerView, Experion.Common.Tools" />

        <!--View End-->

      </types>
    </container>
  </containers>
</unity>