@{
    ViewBag.Title = "landingPage";
}

<h2>landingPage</h2>

<div>
    <a href="~/TTLog/LoadDetails" title="Test" > Log Details </a>
    </div>
<br />
<div>
    <a href="~/TTracker/LoadSearchScreen" title="Test"> Leave Tracker </a>
    </div>



                      