@using TTsys.Models;
@model List<logDetails>

@{
    ViewBag.Title = "popupLog";
   
var temp = (from s in Model where s.LogType == "in" select s);
 
}

    
             @{
                  if (Model.Count>0)
	                {
		                 <div>
                              LogDetails As On: @Html.Label(Model[0].LogTime.ToString("dd/MM/yyyy"))
                              </div>
	                }
                    }
   
<div id="popupcontent">
 @(Html.Kendo().Grid<logDetails>(Model)
    .Name("timetrackergrid")
   //.HtmlAttributes(new { style = "width: 1050px;height:1000px;" })
        .Columns(column =>
     {
         column.Bound(p => p.LogTime).Width(50).Format("{0:hh:mm:ss tt}");
        column.Bound(p => p.LogType).Width(50);
     })
   )
     </div>
